@import url('https://fonts.googleapis.com/css?family=Open+Sans:500');

html,
body,
ul {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  background: #f1f5fa;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

#root {
  width: 100vw;
  height: 100vh;
}
