html {
  font-size: 10px;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  background: #f1f5fa;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}
